.home-mobile-image {
  text-align: right;
  position: relative;

  img {
    width: 100%;
  }

  .cta {
    position: absolute;
    font-size: 12px;
    text-transform: uppercase;
    border: 1px solid $brand-primary;
    background-color: $white;
    padding: 2px 12px;
    right: 38px;
    bottom: 32px;
  }
}
